// Place all the styles related to the courseMakers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  margin: 0;
  padding:0;

}
#course_makers_body{
  margin: 0;
  padding:0;
}
